*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

html,
body {
  height: 95vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #997636;
  padding-top: 10px;
  position: relative;
}

body::-webkit-scrollbar,
div.main-list::-webkit-scrollbar,
div.fav-list::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb,
div.main-list::-webkit-scrollbar-thumb,
div.fav-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 50px;
}

div.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 20%;
  margin: 20px;
  height: fit-content;
  padding: auto 10px auto 10px;
  border-radius: 50px;
}

div.button-container button {
  background-color: rgb(177, 124, 54);
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: #eac5b1;
  font-weight: 700;
}

div.button-container button:hover {
  background-color: rgb(194, 130, 46);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

div.main-list,
div.fav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  border-radius: 50px;
  height: 100%;
  padding: 10px;
  align-content: flex-start;
}

div.main-list {
  width: 30%;
  justify-self: flex-start;
  align-self: flex-start;
}

div.fav-list {
  width: 50%;
  justify-self: flex-end;
  align-self: flex-start;
}

div.main-list-item,
div.fav-list-item {
  display: inline-block;
  margin: 10px;
  border: 0.5px solid rgb(2, 31, 2);
  background-color: rgb(179, 131, 73);
  box-shadow: 1px 1px 10px 2px #333;
  padding: 20px;
  border-radius: 50px;
  transition: transform 3s ease-in-out;
  position: relative;
}

div.main-list-item {
  width: 75%;
  min-height: 230px;
}
div.fav-list-item {
  min-width: 80%;
  min-height: 400px;
}

.imageLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 3s ease-in-out;
}

div.main-list-item:hover,
div.fav-list-item:hover {
  background-color: rgb(131, 109, 80);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.main-header,
.fav-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(203 162 98);
  height: 200px;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

.main-header h1,
.fav-header h1 {
  color: rgb(120 86 58);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

.main-header h1 {
}

.fav-header h1 {
}

.main-count,
.fav-count {
  height: 40%;
  width: 95%;
  color: #a86428;
}

div.main-item-info,
div.fav-item-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.main-item-info,
div.fav-item-info {
  width: 100%;
  text-align: center;
}
div.main-item-info {
  justify-content: space-between;
}

div.main-item-info span,
div.fav-item-info span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

h3,
h4,
h5 {
  color: #1e0d01;
}
h6 {
  margin-right: 4rem;
  color: rgb(222 185 144);
}
.fav-list h6 {
  margin-right: 4rem;
  font-size: 2rem;
}
.main-list h6 {
  font-size: 1.5em;
}
h3.main-item-name {
  font-size: 1.75em;
}
h4.main-item-age {
  font-size: 1.55em;
}
h5.main-item-breed {
  font-size: 1.5em;
}
h3.fav-item-name {
  font-size: 3em;
}
h4.fav-item-age,
h5.fav-item-breed {
  font-size: 2.5em;
}

div.main-item-pic,
div.fav-item-pic {
  height: 100%;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}

div.main-item-pic,
div.fav-item-pic {
  min-width: 25%;
}
